  - repo: https://github.com/psf/black
    rev: 19.3b0
    hooks:
      - id: black
        language_version: python3.7

  - repo: https://github.com/asottile/seed-isort-config
    rev: v1.9.2
    hooks:
      - id: seed-isort-config

  - repo: https://github.com/pre-commit/mirrors-isort
    rev: v4.3.21
    hooks:
      - id: isort
        language_version: python3.7

  - repo: git://github.com/detailyang/pre-commit-shell
    sha: v1.0.6
    hooks:
      - id: shell-lint
        args: [--format=json]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.2.3
    hooks:
      - id: flake8
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: debug-statements
      - id: check-json
      - id: pretty-format-json
        args:
          - --autofix
      - id: check-yaml
